<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Contact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.suraj.servlet.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllContact</display-name>
    <servlet-name>ViewAllContact</servlet-name>
    <servlet-class>com.suraj.test.ViewAllContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllContact</servlet-name>
    <url-pattern>/ViewAllContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllContact</display-name>
    <servlet-name>AllContact</servlet-name>
    <servlet-class>com.suraj.servlet.ViewAllContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllContact</servlet-name>
    <url-pattern>/AllContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.suraj.servlet.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>com.suraj.servlet.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updated</display-name>
    <servlet-name>Updated</servlet-name>
    <servlet-class>com.suraj.servlet.Updated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updated</servlet-name>
    <url-pattern>/Updated</url-pattern>
  </servlet-mapping>
</web-app>